In [1]:
from pybis import Openbis
import getpass
import matplotlib.pyplot as plt
%matplotlib inline

### Connecting to openBIS

In [14]:
o = Openbis('https://limb.ethz.ch/openbis:8443', verify_certificates=False)

In [15]:
username = 'hluetcke'
pw = getpass.getpass()

 ·····················

In [16]:
o.login(username, pw, save_token=True)   # saves the session token in ~/.pybis/example.com.token
del pw

In [17]:
o.token

'hluetcke-181026151925182x3063F8B1C01218403A7F2B2FFC989331'

In [18]:
o.is_session_active()

True

In [9]:
o.get_datastores()

   code                                downloadUrl                   hostUrl
0  DSS1  https://limb.ethz.ch:443/datastore_server  https://limb.ethz.ch:443

### Masterdata

In [8]:
o.get_experiment_types()

    code        description                                      modificationDate
--  ----------  -----------------------------------------------  -------------------
 0  IHC         Immunohistochemistry                             2010-10-01 15:27:15
 1  LACZ        Experiments with lacZ staining.                  2010-10-06 16:24:22
 2  CULTURE     Culture                                          2010-08-19 08:49:11
 3  ISH         in situ hybridization                            2010-08-19 08:49:25
 4  SKELETAL    Skeletal                                         2010-08-19 08:49:34
 5  METHODS     Folder to store protocols                        2016-05-24 16:36:12
 6  PAPER       Experiments from a paper.                        2010-11-12 12:08:37
 7  LIGHTSHEET  Lightsheet imaging                               2018-05-31 13:29:04
 8  SAMPLE      For Sample registration.                         2010-11-22 10:28:53
 9  MATERIALS   Folder to store biological and chemical samples  2016-05-24 16:35:51

In [ ]:
o.get_sample_types()

In [ ]:
o.get_sample_type('PLATE')

In [ ]:
o.get_material_types()

In [ ]:
o.get_dataset_types()

In [ ]:
o.get_terms()

### List and get datasets

In [ ]:
datasets = o.get_datasets(type='HISTOLOGY')

In [ ]:
counter = 0
for ds in datasets:
    print(ds)
    counter += 1
    if counter > 10:
        break

In [ ]:
ds = o.get_dataset('20101105142920015-6525')

In [ ]:
ds.get_files(start_folder='original')

In [11]:
space = o.get_space('MATLAB_TEST')

In [12]:
space.delete

attribute         value
----------------  ---------------------------------------
code              MATLAB_TEST
permId            MATLAB_TEST
description       test space for Matlab access to openBIS
registrator       hluetcke
registrationDate  2018-08-17 10:39:05
modificationDate  2018-08-17 10:39:05

### Download and import files

In [ ]:
ds.download(files='original/441_x40001.tif', destination='data', wait_until_finished=True)

In [ ]:
plt.imshow(plt.imread('data/20101105142920015-6525/original/441_x40001.tif'))

In [ ]:
o.logout()

In [ ]:
o.get_experiment_types()

In [ ]:
o.get_dataset_types()

In [28]:
o.get_projects(space='MATLAB_TEST', code=None)

    identifier                 permId                  leader    registrator    registrationDate     modifier    modificationDate
--  -------------------------  ----------------------  --------  -------------  -------------------  ----------  -------------------
 0  /MATLAB_TEST/TEST_PROJECT  20180817104532621-9268  None      hluetcke       2018-08-17 10:45:33  hluetcke    2018-08-17 10:45:33

In [22]:
project = o.new_project(space='MATLAB_TEST', code='ANOTHER_TEST', description='TGIF')

In [23]:
project.save()

Project successfully created.

attribute         value
----------------  -------------------------
code              ANOTHER_TEST
description       TGIF
permId            20181026152148956-9272
identifier        /MATLAB_TEST/ANOTHER_TEST
space             MATLAB_TEST
leader
registrator       hluetcke
registrationDate  2018-10-26 15:21:49
modifier
modificationDate  2018-10-26 15:21:49

In [27]:
project.delete('just a test')

Project 20181026152148956-9272 successfully deleted.